@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

img, svg {
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background-color: #000000;
  color: #ffffff;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.container {
  max-width: 1310px;
  padding: 0px 15px;
  margin: 0 auto;
  min-width: 320px;
}

.header {
  position: relative;
  /* 	&::before {
  	content: "";
  	position: absolute;
  	top: -1200px;
  	right: -588px;
  	background-image: url(../assets/svg/top-right-ellipse.svg);
  	background-repeat: no-repeat;
  	height: 2400px;
  	width: 2400px;
  	background-position: right;
  	z-index: -10;
  } */
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header-top__logo {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 31px;
  letter-spacing: -0.025em;
  color: #ffffff;
}
.header-top__wallet {
  padding: 8px 24px;
  cursor: pointer;
}

.header-top__logo.menuOpen {
  /* 	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 2; */
}

.menu__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu__nav-link {
  font-family: "GT Walsheim Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.menu__nav-link:hover {
  background-image: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.header-content {
  padding: 82px 0 60px;
}
.header-content__description {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 955px) {
  .header-content__description {
    flex-direction: column;
    align-items: center;
  }
}
.left-block {
  max-width: 615px;
  width: 100%;
  margin-right: 15px;
}
@media (max-width: 955px) {
  .left-block {
    /* 	max-width: 100%; */
  }
}
.left-block__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 66.7826px;
  line-height: 81px;
  letter-spacing: 0.015em;
  color: #ffffff;
}
@media (max-width: 991px) {
  .left-block__title {
    font-size: 60px;
  }
}
.left-block__subtext {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16.4895px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.left-block__actions {
  margin: 75px 0;
}
.left-block__actions-explore {
  padding: 16px 32px;
}
.left-block__actions-sell {
  padding: 16px 32px;
}

.filled {
  background: linear-gradient(97.86deg, #89c6ff -38.38%, #3633d0 71.88%);
  border-radius: 30px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #ffffff;
  transition: all 0.3s linear;
  cursor: pointer;
}
.filled:hover {
  opacity: 0.7;
}

.unfilled {
  color: #ffffff;
  display: inline-block;
  position: relative;
  z-index: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  cursor: pointer;
}
.unfilled::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 5px;
  border-radius: 30px;
  background: linear-gradient(to right, #89c6ff, #3633d0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  opacity: 1;
  transition: opacity 0.4s linear;
}
.unfilled::after {
  content: "";
  position: absolute;
  z-index: -2;
  inset: 0;
  padding: 5px;
  border-radius: 30px;
  background: linear-gradient(to right, #89c6ff, #3633d0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  opacity: 0;
  transition: opacity 0.4s linear;
}
.unfilled:hover::before {
  background: linear-gradient(to right, #ff8d8d, #f7fc0e);
  opacity: 0;
}
.unfilled:hover::after {
  background: linear-gradient(to right, #ff8d8d, #f7fc0e);
  opacity: 1;
}

.right-block {
  max-width: 660px;
  width: 100%;
  position: relative;
}
.right-block__main-img {
  max-width: 500px;
  margin: 0 auto;
}
.right-block__coin-list {
  display: flex;
  column-gap: 36px;
  position: absolute;
  bottom: 30px;
  right: 0;
  padding: 45px 37px;
  max-width: 658px;
  width: 100%;
  backdrop-filter: blur(30px);
  border-radius: 7.5px;
  border: 1.5px solid white;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.left-block__title span {
  background: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.footer {
  margin-bottom: 95px;
  position: relative;
  z-index: 1;
}

.eeeeee {
  position: absolute;
  left: 0;
  bottom: -20%;
  z-index: -10;
  overflow: hidden;
  /* height: 100%;

  width: 100%; */
}

.fffff {
  position: absolute;
  left: 0;
  bottom: -20%;
  z-index: -100;
}

/* .footer::before {
	content: "";
	position: absolute;
	background-image: url(../assets/svg/footer-ellipse-left.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: -100;
	overflow: hidden;
} */
.footer-content {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 96px 0;
  text-align: center;
  margin-bottom: 81px;
  z-index: 100;
}
.footer-content__title {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 40.4352px;
  line-height: 52px;
  /* identical to box height */
  letter-spacing: 0.005em;
}
.footer-content__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13.7063px;
  line-height: 128.5%;
  letter-spacing: 0.005em;
  margin-bottom: 60px;
}
.footer-content__form {
  display: flex;
  max-width: 685px;
  width: 100%;
  column-gap: 19px;
  border: none;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .footer-content__form {
    flex-direction: column;
    gap: 15px;
  }
}
.footer-content__form-input {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  outline: none;
  max-width: 528px;
  width: 100%;
  padding: 16px 24px;
  color: #ffffff;
  font-size: 20px;
}
.footer-content__form-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.5);
}
.footer-content__form-btn {
  padding: 12px 24px;
}

.copyright {
  text-align: center;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.wrapper {
  background-image: url(../assets/img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .main {
	position: relative;
	&::before {
		content: "";
		background-image: url(../assets/svg/trending-ellipse.svg);
		background-repeat: no-repeat;
		position: absolute;
		top: -1100px;
		left: -600px;
		width: 2440px;
		height: 2440px;
		background-position: left;
		z-index: -1;
	}
} */
/* ===================== TRENDS============================ */
.trends {
  padding-bottom: 100px;
  /* 	background-image: url(../assets/svg/trending-middle-ellipse.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -100; */
}

.trends-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 1060px) {
  .trends-top {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}
.trends-top__subtext {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
  max-width: 603px;
  width: 100%;
}
@media (max-width: 1060px) {
  .trends-top__subtext {
    max-width: 100%;
    text-align: center;
  }
}

.big-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 59.0024px;
  line-height: 76px;
  letter-spacing: 0.005em;
  color: #ffffff;
}
@media (max-width: 991px) {
  .big-title {
    font-size: 45px;
  }
}

.trends-body__list {
  /* display: flex;		flex-wrap: wrap; justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 136px;
}
@media (max-width: 1060px) {
  .trends-body__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.trends-body__item {
  margin: 0 auto;
  position: relative;
  max-width: 496px;
  width: 100%;
}
.trends-body__item-info {
  padding: 12px 24px 18px 24px;
  max-width: 496px;
  width: 100%;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 7.5px;
  border: 1.5px solid white;
  bottom: -56px;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  position: absolute;
  align-items: center;
}
@media (max-width: 480px) {
  .trends-body__item-info {
    display: flex;
    flex-direction: column;
  }
}
.trends-body__image {
  max-width: 448px;
  width: 100%;
  height: 323px;
  border-radius: 20px;
  border: 2px solid #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.trends-body__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}
.trends-body__img:hover {
  transform: scale(1.03);
}
@media (max-width: 480px) {
  .desc-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 15px;
    width: 100%;
    column-gap: 15px;
  }
}
.desc-item__title {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 26px;
  line-height: 128.5%;
  letter-spacing: 0.005em;
}
.desc-item__instagram {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 128.5%;
  letter-spacing: 0.005em;
  color: #ffffff;
  opacity: 0.5;
}
.desc-item__price {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 21px;
  line-height: 128.5%;
  background-image: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.trends-button {
  max-height: 39px;
  padding: 8px 24px;
}

/* ============================== MARKETPLACE=============================== */
.marketplace {
  padding-bottom: 70px;
}

.marketplace-content__title {
  margin-bottom: 60px;
  text-align: center;
}
.marketplace-content__filters {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;
}
.products-section__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  /* 		justify-content: space-evenly; */
  margin-bottom: 80px;
}
@media (max-width: 1310px) {
  .products-section__list {
    justify-content: center;
  }
}

.item-products {
  max-width: 297px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-height: 425px;
  height: 100%;
}
.item-products__image {
  max-width: 276px;
  width: 100%;
  max-height: 307px;
  overflow: hidden;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.item-products__img {
  width: 100%;
  height: 100%;
}
.item-products__info-box {
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

/* .item-products:hover .product-collect-btn {
	display: block;
} */
.item-products:hover .product-collect-btn {
  height: auto;
  padding: 16px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box__price {
  background-image: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.info-product__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.info-products__instagram {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  opacity: 0.4;
}

.product-collect-btn {
  /* padding: 16px 86px; */
  font-size: 17px;
  /* display: none; */
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
@media (max-width: 991px) {
  .product-collect-btn {
    height: auto;
    padding: 16px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ============================== TOP LIST CREATORS=============================== */
.top-creators {
  /* 	background-image: url(../assets/svg/top-list-creator-ellipse.svg);
  background-repeat: no-repeat;
  background-position: center; */
}
.top-creators__title {
  text-align: center;
  margin-bottom: 32px;
}

.alt-products-filters {
  text-align: center;
  margin-bottom: 60px;
}

.creators-filter-btn-popular,
.creators-filter-btn-following,
.creators-filter-btn-all {
  padding: 12px 32px;
}

.main-slider__wrapper {
  height: 365px;
  margin-bottom: 55px;
}

.main-slider__slide {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 28px;
  height: 100%;
}

.slide__top-image {
  width: 100%;
  overflow: hidden;
  flex: 1 1 60%;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide__top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-creators {
  text-align: center;
  flex: 1 1 55%;
  position: relative;
  margin-top: 35px;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
}
.info-creators__image {
  max-width: 56px;
  width: 100%;
  margin: 0 auto 9px;
  border: 10px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 50%;
  top: -75px;
  left: 0;
  right: 0;
  position: absolute;
}
.info-creators__img {
  width: 100%;
  height: auto;
}
.info-creators__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20.0548px;
  line-height: 24px;
  margin-bottom: 14px;
}

.value-creators {
  display: flex;
  column-gap: 10px;
  align-items: flex-end;
  justify-content: center;
}
.value-creators__number {
  background-image: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 700;
  font-size: 20.0548px;
  line-height: 24px;
}
.value-creators__text {
  background-image: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.top-creators__follow-btn,
.top-creators__following-btn {
  padding: 16px 0;
  margin-top: auto;
  border-radius: 12px;
}

.menu__icon {
  display: none;
}

.menu-icon-close {
  display: none;
}

.header__menu .logo {
  display: none;
}

@media (max-width: 767.98px) {
  /* 	body.lock {
  	overflow: hidden;
  } */
  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    background-color: transparent;
    z-index: 3;
  }
  .menu__icon span {
    position: absolute;
    background-color: #fff;
    right: 20px;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s linear;
    z-index: 100;
  }
  .menu__icon::before,
.menu__icon::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 20px;
    transition: all 0.3s linear;
    z-index: 100;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon.menuOpen::before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #fff;
    z-index: 100;
  }
  .menu__icon.menuOpen span {
    transform: scale(0);
  }
  .menu__icon.menuOpen::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #fff;
    z-index: 100;
  }
  /* header */
  .header__menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding-top: 30px;
    transition: top 0.3s linear;
    overflow: auto;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__nav-list {
    display: flex;
    flex-direction: column;
  }
  .header__menu.menuOpen {
    top: 0;
  }
  .header__menu.menuOpen .header-top__logo {
    position: absolute;
    top: 30px;
    left: 20px;
    display: block;
  }
  .header__menu.menuOpen .menu__nav-item::after {
    display: none;
  }
  .header__menu.menuOpen .menu__nav-link {
    font-size: 20px;
    color: #fff;
    padding: 15px;
  }
  .header__menu.menuOpen .active-link::after {
    background-color: #000;
  }
}
.mixitup-control-active {
  background: linear-gradient(97.86deg, #89c6ff -38.38%, #3633d0 71.88%);
  border-radius: 30px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #fff;
  padding: 11px 31px;
}
.mixitup-control-active::before {
  display: none;
}
.mixitup-control-active::after {
  display: none;
}

/* disabled button  */
.marketplace-content__filters-btn {
  padding: 11px 31px;
}

.btn-show-all {
  /* 	display: none; */
  margin: 0 auto;
  display: block;
  padding: 12px 32px;
}

.products-section__view-more {
  margin: 0 auto;
  display: block;
  padding: 12px 32px;
  overflow: hidden;
}

.products-section__view-less {
  margin: 0 auto;
  display: block;
  padding: 12px 32px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.main-slider {
  padding: 30px 0 70px 0;
  width: 100%;
}

.main-slider__image {
  width: 100%;
}

.slider__img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*=========== Стрелки================== */
.main-slider .swiper-button-prev::after {
  display: none;
}

.main-slider .swiper-button-next::after {
  display: none;
}

/* .arrow-container {
	min-height: 66px;
	max-width: 120px;
	text-align: center;
	margin: 0 auto;
	border-radius: 65px;
	position: relative;
	box-shadow: 0px 64.8148px 46.8519px rgba(64, 162, 213, 0.0759259), 0px 38.5185px 25.4815px rgba(64, 162, 213, 0.0607407), 0px 20px 13px rgba(64, 162, 213, 0.05), 0px 8.14815px 6.51852px rgba(64, 162, 213, 0.0392593), 0px 1.85185px 3.14815px rgba(64, 162, 213, 0.0240741);
	margin-top: 80px;
	margin-bottom: 65px;
} */
/* Автоширина */
/* .main-slider .swiper-slide {
	width: auto;
	height: auto;
} */
/* Пагинация */
/* .main-slider .swiper-pagination {
	bottom: 5px;
} */
/* Буллеты */
.main-slider .swiper-pagination-bullet {
  width: 20px;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.main-slider .swiper-pagination-bullet-active {
  width: 41px;
  height: 10px;
  border-radius: 20px;
  background: linear-gradient(97.86deg, #89c6ff -38.38%, #3633d0 71.88%);
}

/* Фракция */
/* .image-slider .swiper-pagination-fraction {
	font-size: 20px;
	color: #fff;
} */
/* Прогрессбар */
/* .image-slider .swiper-pagination-progressbar-fill {
	background-color: #7a956b;
}
 */
/* Скролл */
/* .image-slider .swiper-scrollbar-drag {
	cursor: pointer;
	background-color: #7a956b;
} */
/* Мультирядность  */
/* 
.image-slider {
	height: 700px;
}
.image-slider .swiper-slide {
	height: calc((100% - 30px) / 2);
	overflow: hidden;
}
*/
/* Вертикальный слайдер */
/* 
.image-slider {
	padding: 0px 0 0px 0;
	height: 700px;
}
 */
/* =====================================      ALTSLider       ========================================================================*/
.alt-slider {
  position: relative;
}

.alt-slider__wrapper {
  display: flex;
}

/* .alt-slider__slide {
} */
/*
.alt-slider__wrapper {
	width: 200px;
	gap: 10px;
} */
/* 
.alt-slider__item {
}

.alt-slider__item-title {
}
 */
/*=========== Стрелки================== */
.alt-swiper-button-prev {
  box-shadow: 0px -4px 10px rgba(15, 27, 51, 0.05);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  transform: rotate(180deg);
  position: static;
  vertical-align: middle;
  cursor: pointer;
}

.alt-swiper-button-next {
  box-shadow: 0px 4px 10px rgba(15, 27, 51, 0.05);
  border-radius: 50%;
  width: 50px;
  position: static;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
}

/* .swiper-button-next img {
} */
.alt-swiper-button-prev::after {
  display: none;
}

.alt-swiper-button-next::after {
  display: none;
}

/* .alt-arrow-container {
	min-height: 66px;
	max-width: 120px;
	text-align: center;
	margin: 0 auto;
	border-radius: 65px;
	position: relative;
	box-shadow: 0px 64.8148px 46.8519px rgba(64, 162, 213, 0.0759259),
		0px 38.5185px 25.4815px rgba(64, 162, 213, 0.0607407), 0px 20px 13px rgba(64, 162, 213, 0.05),
		0px 8.14815px 6.51852px rgba(64, 162, 213, 0.0392593), 0px 1.85185px 3.14815px rgba(64, 162, 213, 0.0240741);
	margin-top: 80px;
	margin-bottom: 65px;
} */
/* Автоширина */
.alt-slider .swiper-slide {
  width: auto;
}

/* Пагинация */
.alt-swiper-pagination {
  position: static;
  width: fit-content;
  /* 	width: 100%; */
  max-height: 50px;
  height: 100%;
}

/* Буллеты */
.alt-swiper-pagination-bullet {
  /* 	width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px; */
  background-color: #000;
}

.alt-swiper-pagination-bullet-inactive {
  background-color: #fff !important;
  border: 1px silid #000;
}

/* Фракция */
/* .image-slider .swiper-pagination-fraction {
	font-size: 20px;
	color: #fff;
} */
/* Прогрессбар */
/* .image-slider .swiper-pagination-progressbar-fill {
	background-color: #7a956b;
}
 */
/* Скролл */
/* .image-slider .swiper-scrollbar-drag {
	cursor: pointer;
	background-color: #7a956b;
} */
/* Мультирядность  */
/* 
.image-slider {
	height: 700px;
}
.image-slider .swiper-slide {
	height: calc((100% - 30px) / 2);
	overflow: hidden;
}
*/
/* Вертикальный слайдер */
/* 
.image-slider {
	padding: 0px 0 0px 0;
	height: 700px;
}
 */
/* ==================================================TRDSLider================================================= */
.trd-slider {
  position: relative;
  max-height: 200px;
  height: 100%;
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .trd-slider {
    margin-bottom: 0px;
  }
}

.trd-slider__wrapper {
  margin-bottom: 50px;
}

/*

.trd-slider__slide {
	max-width: 285px;
	width: 100%;
	text-align: center;
} */
/*
.trd-slider__wrapper {
	width: 200px;
	gap: 10px;
} */
/*=========== Стрелки================== */
.trd-swiper-button-prev {
  height: 50px;
  width: 50px;
  position: static;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(15, 27, 51, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 480px) {
  .trd-swiper-button-prev {
    height: 36px;
    width: 36px;
  }
}

.trd-swiper-button-next {
  height: 50px;
  width: 50px;
  position: static;
  background-color: linear-gradient(97.86deg, #ff8d8d -38.38%, #f7fc0e 71.88%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 480px) {
  .trd-swiper-button-next {
    height: 36px;
    width: 36px;
  }
}

.trd-swiper-button-prev::after {
  display: none;
}

.trd-swiper-button-next::after {
  display: none;
}

/* .trd-arrow-container {
	min-height: 66px;
	max-width: 120px;
	text-align: center;
	margin: 0 auto;
	border-radius: 65px;
	position: relative;
	box-shadow: 0px 64.8148px 46.8519px rgba(64, 162, 213, 0.0759259),
		0px 38.5185px 25.4815px rgba(64, 162, 213, 0.0607407), 0px 20px 13px rgba(64, 162, 213, 0.05),
		0px 8.14815px 6.51852px rgba(64, 162, 213, 0.0392593), 0px 1.85185px 3.14815px rgba(64, 162, 213, 0.0240741);
	margin-top: 80px;
	margin-bottom: 65px;
} */
/* Автоширина */
/* .trd-slider .swiper-slide {
	width: auto;
} */
/* Пагинация */
/*.trd-swiper-pagination{

} */
/* Буллеты */
/* .trd-slider .swiper-pagination-bullet { */
/* 	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px; */
/* background-color: #000; */
/* } */
/* Фракция */
/* .image-slider .swiper-pagination-fraction {
	font-size: 20px;
	color: #fff;
} */
/* Прогрессбар */
/* .image-slider .swiper-pagination-progressbar-fill {
	background-color: #7a956b;
}
 */
/* Скролл */
/* .image-slider .swiper-scrollbar-drag {
	cursor: pointer;
	background-color: #7a956b;
} */
/* Мультирядность  */
/* 
.image-slider {
	height: 700px;
}
.image-slider .swiper-slide {
	height: calc((100% - 30px) / 2);
	overflow: hidden;
}
*/
/* Вертикальный слайдер */
/* 
.image-slider {
	padding: 0px 0 0px 0;
	height: 700px;
}
 */
/*================================================ COMMMON ==============================================*/
.swiper-button-disabled {
  opacity: 0.5;
}